/*
meh, start re-using jqueryUI styles instead
.ui-dashboard {
 background-color : #DDDDDD;
 height : 3em;
 border : 1px outset;
}
*/

.ui-dashboard-status {
	border : 1px inset;
	background-color : #EEEEEE;
	min-height : 1.2em;
  padding : 0.1em;
  margin : 0.2em;
}

.ui-button {
  vertical-align: text-bottom;
}

#edit-mapping-container .ui-accordion .ui-accordion-content {
  padding: .5em 0.8em;
}