@CHARSET "UTF-8";

/**
 * Dashboard layout
 * The main UI form elements
 */

#import-html-scraper-form {
}
#import-html-scraper-form #edit-source-container {
  width:40%;
  height:500px;
  float:left;
  clear:left;
  border:2px solid #999999;
}

#import-html-scraper-form #edit-mapping-container {
  width:15%;
  height:500px;
  float:left;
  padding:0 1%;
  margin: auto;
}

#import-html-scraper-form #edit-preview-container {
  width:40%;
  height:500px;
  float:left;
  border:2px solid #999999;
}

#import-html-scraper-form #edit-source-frame,
#import-html-scraper-form #edit-preview-frame {
  width:100%;
  height:100%;
}

#import-html-scraper-form #edit-toolbar {
  clear:both;
}

#edit-uri-container {
  clear:left;
}
#edit-uri-container .form-type-textfield, #edit-uri-container .form-type-textfield label, #edit-uri-container .form-type-textfield input, #edit-uri-container input{
  float:left;
  margin-left:1em;
}

#edit-toolbar {
  clear:both;
  padding-top:.5em;
}


#scraper-control .ui-button {
float: right;
}

