@CHARSET "UTF-8";

body {
	font-size:.8em;
}

/* Tweaks for the scraper UI
   Starting from jquery UI, and compacted a little
----------------------------------*/
/*
	nested accordions need less space
	*/
#scraper-div .ui-accordion .ui-accordion-content {
  padding-right:0 !important; padding-left:0.5em !important;
  padding-top:0.5em !important; padding-bottom:0.5em !important;
}
h4.ui-helper-reset {
  font-size:0.8em;
}

/* pop-up content preview */
.scraped-content-preview {
  font-size:66%;
}
.scraped-content-preview .ui-dialog-content {
  overflow:scroll;
}
