@CHARSET "UTF-8";
/**
 * Small effects to support the mouse selections
 */

/* highlights for all the elements with IDs */
.id-element {
  outline : 2px solid red;
  position : relative;
}
.id-label {
  outline : 2px solid red;
  background-color : red;
  color : white;
  position : absolute;
  top : 0px;
  right : 0px;
  padding : 0.2em 0.4em;
  /* don't let other css influence us */
  font-size:medium !important;
  height:auto !important; line-height:normal !important; width:auto !important;
  margin:0 !important; text-indent: 0 !important;
  /* all sorts of CSS may be inherited, so reset lots */
}

/* highlights for the mouseover */
.highlighted {
  outline : 4px solid red;
}
.chosen {
  outline : 4px solid green;
}
